// path is relative to "static/css/"
$staticPath: '/';
$fontPath: $staticPath + 'fonts/';
$imgPath: $staticPath + 'images/';
$baseFont: "Open Sans", "Helvetica", "Arial", sans-serif;
$headerFont: "Work Sans", "Helvetica", "Arial", sans-serif;
$monospaceFont: "Consolas", "Menlo", monospace;

$primaryColor: #df0067;

$pageTitleColor: #222;

$mainTextColor: #444; /* Color of text by default */
$mainTitlesTextColor: #444; /* Color of titles h2-h3-h4-h5-h6 */
$mainLinkColor: $primaryColor; /* Color of links */
$mainLinkHoverColor: #d01616; /* Color of hovered links */
$mainAnchorColor: $primaryColor; /* color of anchors on titles */

$menuHeaderBgColor: #840e5f; /* Background color of menu header */
$menuHeaderBgColor: $primaryColor; /*Color of menu header border */

$menuSearchBgColor: #840e5f; /* Search field background color (by default borders + icons) */
$menuSearchBoxColor: $primaryColor; /* Override search field border color */
$menuSearchBoxIconsColor: #fda1a1; /* Override search field icons color */

$menuSectionsActiveBgColor: #2b2020; /* Background color of the active section and its childs */
$menuSectionsBgColor: #312525; /* Background color of other sections */
$menuSectionsLinkColor: #ccc; /* Color of links in menu */
$menuSectionsLinkHoverColor: #e6e6e6; /* Color of links in menu, when hovered */
$menuSectionActiveCategoryColor: #777; /* Color of active category text */
$menuSectionActiveCategoryBgColor: #fff; /* Color of background for the active category (only) */

$menuVisitedColor: #ff3333; /* Color of 'page visited' icons in menu */
$menuSectionHrColor: #2b2020; /* Color of <hr> separator in menu */

$codeBlockBgColor: #f7f7f8;

$tocBreakpoint: 1280px;

$paragraphSpacing: 1rem; // vertical spacing below paragraphs
$tocWidth: 340px; // width of the Table of contents bar
$sidebarFullWidth: 300px;
$contentMaxWidth: 1000px;
$contentPadding: 32px;

// screen size after which the content will stop growing
$contentMaxWidthBreakpoint: $sidebarFullWidth + $contentMaxWidth + $tocWidth + ($contentPadding * 2);
