#chapter {
  display: flex;
  height: 100%;
  padding: 2rem 0 0;

  #body-inner {
    width: 100%;

    > p:first-of-type {
      font-size: 1.2rem;
    }
  }

  h3 {
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
  }

  h1 {
    font-size: 3.5rem;
    padding-top: .3em;

    @media only all and (min-width: 48em) and (max-width: 59.938em) {
      font-size: 3rem;
    }
    @media only all and (max-width: 47.938em) {
      font-size: 2rem;
    }
  }
}
