$tree-step-size: 1rem;
$active-block-bg: #251f29;
$sidebar-bg: #322a38;
$sidebar-mobile-width: 230px;
$text-trailing-indent: 0.5rem;

#sidebar-toggle-span {
  display: none;
  @media only all and (max-width: 47.938em) {
    display: inline;
  }
}

#sidebar {
  background-color: $sidebar-bg;
  position: fixed;
  top: 0;
  width: $sidebarFullWidth;
  bottom: 0;
  left: 0;
  font-weight: 400;
  font-size: 15px;

  @media only all and (max-width: 59.938em) {
    width: $sidebar-mobile-width;
  }

  @media only all and (max-width: 47.938em) {
    width: $sidebar-mobile-width;
    left: -$sidebar-mobile-width;
  }

  a {
    color: #ccc;

    &:hover {
      color: #e6e6e6;
    }

    &.subtitle {
      color: rgba(204, 204, 204, 0.6);
    }

    &.padding {
      padding: 0 1rem;
    }
  }

  hr {
    border-bottom: 1px solid #2a232f;
  }

  h5 {
    margin: 2rem 0 0;
    position: relative;
    line-height: 2;
    a {
      display: block;
      margin-left: 0;
      margin-right: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    i {
      color: rgba(204, 204, 204, 0.6);
      position: absolute;
      right: 0.6rem;
      top: 0.7rem;
      font-size: 80%;
    }

    &.parent {
      a {
        background: #201b24;
        color: #d9d9d9 !important;
      }

      & + ul.topics {
        display: block;
      }
    }

    &.currentPage {
      a {
        background: #fff;
        color: #777 !important;
      }
    }

    &.active {
      i {
        color: #777 !important;
      }

      & + ul.topics {
        display: block;
      }
    }

    & + ul.topics {
      display: none;
      margin-top: 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    &.searched {
      a {
        color: #999999;
      }

      .search-match a {
        color: #e6e6e6;

        &:hover {
          color: white;
        }
      }
    }

    &.topics {
      // first level
      > li {
        > a {
          line-height: 2rem;
          font-size: 1.1rem;

          // chapter number
          b {
            opacity: 0.5;
            font-weight: normal;
          }
        }

        &.parent,
        &.active {
          background: $active-block-bg;
        }

        > ul > li {
          // special extra padding for 2nd level, to account for chapter numbers on the 1st level
          padding-left: $tree-step-size + 0.2rem;
        }
      }

      li {
        &.isParent > a {
          display: flex;
          justify-content: space-between;
          align-items: center;

          i {
            padding: 0;
            padding-right: 16px;
            padding-left: 16px;
            margin-right: -16px;
          }
        }
      }

      // only display first level-children below the current one
      li.parent,
      li.active {
        > ul {
          display: block;
        }
      }

      &.searched {
        ul {
          display: block;
        }
      }
    }

    ul {
      display: none;
      padding-bottom: 1rem;

      ul {
        padding-bottom: 0;
      }
    }

    li {
      display: block;
      padding: 0;

      li {
        padding-left: $tree-step-size;
      }

      a {
        display: block;
        padding: 4px 1rem 4px;

        span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          display: block;
        }
      }

      li > a {
        padding-left: 1rem;
      }

      &.visited {
        & + span {
          margin-right: 16px;
        }

        & > a .read-icon {
          color: #00bdf3;
          display: inline;
        }
      }

      &.currentPage {
        & > a {
          background: #fff;
          color: #777 !important;
        }
      }
    }
  }

  #shortcuts {
    li {
      padding: 2px 0;
      list-style: none;
    }

    h3 {
      font-family: 'Novacento Sans Wide', 'Helvetica', 'Tahoma', 'Geneva',
        'Arial', sans-serif;
      color: white;
      margin-top: 1rem;
      padding-left: 1rem;
    }
  }
}
