/* Table of contents */

#toc {
  position: fixed;
  top: 110px;
  right: 2rem;
  width: 300px;
  background-color: rgba(255, 255, 255, .8);
  border-left: thin solid #ececec;

  > .wrapper {
    padding: 15px 25px;
  }

  @media only all and (max-width: $tocBreakpoint - 1px) {
    position: static;
    border: 0;
    margin-top: 3rem;

    > .wrapper {
      padding-left: 5px;
    }
  }

  /* the following styles are needed to avoid "style jumps" when elements get .highlight added */
  a {
    line-height: 1.1;
    display: inline-block;

    &:after {
      display: block;
      content: "";
      height: 1px;
    }
  }
}

#toc-title {
  font-weight: 400;
}


#TableOfContents {
  font-size: 13px !important;
  max-height: 85vh;
  overflow: auto;
  padding: 15px 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 7px 0;
    line-height: 1;
  }

  // H1
  > ul > li {

    > a {
      // hide the link to this page
      display: none !important;
    }

    // H2
    > ul > li {

      > a {
        font-weight: bold;
      }

      ul {
        padding-left: 10px;
      }

      // H3
      > ul li {
        // H4
        > ul > li {
          // H5...
          ul {
            display: none;
          }
        }
      }
    }
  }
}
