{{if not .IsHome}}
<div>
  <div id="top-bar">
    {{ if and (or .IsPage .IsSection) .Site.Params.editURL }}
      {{ $File := .File }}
      {{ $Site := .Site }}
      {{ with $File.Path }}
      <div id="top-github-link">
        <a class="github-link" title='{{T "Improve-this-page"}}' href="{{ $Site.Params.editURL }}{{ replace $File.Dir "\\" "/" }}{{ $File.LogicalName }}" target="blank">
          <i class="fa fa-pencil"></i>
          <span id="top-github-link-text">{{T "Improve-this-page"}}</span>
        </a>
        <a class="how-to-improve" href="{{ $Site.Params.howToContributeURL }}">
          <i class="fa fa-question-circle"></i>
          <span>How</span>
        </a>
      </div>
      {{ end }}
    {{ end }}
    <div id="breadcrumbs" itemscope="" itemtype="http://schema.org/breadcrumb">
      <span id="sidebar-toggle-span">
        <a href="#" id="sidebar-toggle" data-sidebar-toggle="">
          <i class="fa fa-bars"></i>
        </a>
      </span>
      <span class="links">
        {{ template "breadcrumb" dict "page" . "value" (or .Params.menutitle .Title) }}
      </span>
    </div>
  </div>
</div>
{{ end }}
