textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: transparent;
  box-shadow: none;
}

a {
  color: $mainLinkColor;
}

.anchor {
  color: $mainAnchorColor;
}

a:hover {
  color: $mainLinkHoverColor;
}

#sidebar ul li.visited > a .read-icon {
  color: $menuVisitedColor;
}

#body a.highlight:after {
  display: block;
  content: "";
  height: 1px;
  width: 0;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
  background-color: $mainLinkHoverColor;
}
#sidebar {
  background-color: $menuSectionsBgColor;
  #header-wrapper {
    background: $menuHeaderBgColor;
    color: $menuSearchBoxColor;
    border-color: $menuHeaderBgColor;
    background: linear-gradient(#411452,#840e5f);
  }
  .searchbox {
    border-color: $menuSearchBoxColor;
    background: $menuSearchBgColor;
  }
  ul.topics > li.parent,
  ul.topics > li.active {
    background: $menuSectionsActiveBgColor;
  }
  .searchbox * {
    color: $menuSearchBoxIconsColor;
  }
  a {
    color: $menuSectionsLinkColor;
    &:hover {
      color: $menuSectionsLinkHoverColor;
    }
  }
  ul li.currentPage > a {
    background: $menuSectionActiveCategoryBgColor;
    color: $menuSectionActiveCategoryColor !important;
  }
  hr {
    border-color: $menuSectionHrColor;
  }
}

#header a {
  color: #fff;
  font-size: 18px;
}

#logo::before {
  content: "";
  width: 40px;
  height: 40px;
  background: url(/images/preston-logo@2x.png) center / 40px no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.function-definition {
  dt {
    font-family: "Consolas", "Menlo", monospace;
    background: #f0f0f0;
    display: inline-block;
    padding: 0 5px;
  }

  dd {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

// "Start reading" button at the bottom of a chapter page
.chapter-start {
  background-color: $primaryColor;
  color: #fff;
  font-size: 20px !important;
  padding: 10px 20px !important;

  &:hover {
    color: #fff !important;
  }
}

.article-footer {
  margin-top: 5rem;
  font-size: .75rem
}

// article images
a[data-featherlight] {
  display: block;

  margin: {
    left: 3rem;
    right: 3rem;
  }

  > img {
    max-height: 350px;
  }
}
