@charset "UTF-8";
@import 'mixins/variables';

.button,
.button-secondary {
  display: inline-block;
  padding: 7px 12px;

  &:active {
    margin: 2px 0 -2px 0;
  }
}

body {
  background: #fff;
  color: $mainTextColor;
  font-family: $baseFont;
  line-height: 1.6;
  font-size: 16px;
}

a {
  color: #00bdf3;

  &:hover {
    color: #0082a7;
  }
}

.bg {
  background: #fff;
  border: 1px solid #eaeaea;
}

b,
strong,
label,
th {
  font-weight: 600;
}

.default-animation,
#header #logo-svg,
#header #logo-svg path,
#sidebar,
#body,
#body .padding,
#body .nav {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#grav-logo {
  max-width: 60%;

  path {
    fill: #fff !important;
  }
}

#sidebar {
  font-weight: 300 !important;
}

fieldset {
  border: 1px solid #ddd;
}

textarea,
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='time'],
input[type='week'],
select[multiple='multiple'] {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);

  &:hover {
    border-color: #c4c4c4;
  }

  &:focus {
    border-color: #00bdf3;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06),
      0 0 5px rgba(0, 169, 218, 0.7);
  }
}

#header-wrapper {
  background: #8451a1;
  color: #fff;
  text-align: center;
  border-bottom: 4px solid #9c6fb6;
  padding: 1rem;
}

#header {
  a {
    display: inline-block;
  }

  #logo-svg {
    width: 8rem;
    height: 2rem;

    path {
      fill: #fff;
    }
  }
}

.searchbox-extended {
  margin-top: 1rem;
  position: relative;
  border: 1px solid #915eae;
  background: #764890;
  border-radius: 4px;

  label {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 10px;
    top: 3px;
  }

  > span {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 10px;
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, 0.9);
    }
  }

  input {
    display: inline-block;
    color: #fff;
    width: 100%;
    height: 30px;
    background: transparent;
    border: 0;
    padding: 0 25px 0 30px;
    margin: 0;
    font-weight: 300;

    $placeHolderColor: rgba(255, 255, 255, 0.6);

    // all the following need to be separated in order to work
    &::-webkit-input-placeholder {
      color: $placeHolderColor;
    }
    &::-moz-placeholder {
      color: $placeHolderColor;
    }
    &:-moz-placeholder {
      color: $placeHolderColor;
    }
    &:-ms-input-placeholder {
      color: $placeHolderColor;
    }
    &::placeholder {
      color: $placeHolderColor;
    }
  }
}

#main {
  background: #f7f7f7;
  margin: 0 0 1.563rem 0;
}

#body {
  position: relative;
  margin-left: 300px;
  min-height: 100%;

  @media only all and (max-width: 59.938em) {
    margin-left: 230px;
  }

  @media only all and (max-width: 47.938em) {
    margin-left: 0;
    width: 100%;
  }

  img,
  .video-container {
    margin: 3rem auto;
    display: block;
    text-align: center;

    &.border {
      border: 2px solid #e6e6e6 !important;
      padding: 2px;
    }

    &.shadow {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
  }

  img {
    &.inline {
      display: inline !important;
      margin: 0 !important;
      vertical-align: bottom;
    }
  }

  .bordered {
    border: 1px solid #ccc;
  }

  .padding {
    padding: $contentPadding;
    @media only all and (max-width: 59.938em) {
      position: static;
      padding: 15px 3rem;
    }
    @media only all and (max-width: 47.938em) {
      padding: 5px 1rem;
    }
  }

  h1 + hr {
    margin-top: -1.7rem;
    margin-bottom: 3rem;
  }

  a.anchor-link {
    color: #ccc;

    &:hover {
      color: #9c6fb6;
    }
  }
}

/** Page navigation **/

#navigation {
  .nav {
    height: 100%;
    cursor: pointer;
    text-align: center;
    display: inline-block;

    &.nav-pref {
      left: 0;
    }
    &.nav-next {
      right: 0;
    }
  }

  .nav-next i {
    float: right;
    margin-left: 5px;
    margin-top: 2px;
  }
}

#body-inner {
  max-width: $contentMaxWidth;

  @media (min-width: $contentMaxWidthBreakpoint) {
    margin-left: calc((100% - #{$contentMaxWidth} - #{$tocWidth}) / 2);
  }

  @media (min-width: $tocBreakpoint) {
    margin-right: $tocWidth;
  }

  @media (max-width: $contentMaxWidthBreakpoint) {
    font-size: 0.9375rem;
  }

  .tabs-wrapper.ui-theme-badges {
    background: #1d1f21;

    .tabs-nav li {
      font-size: 0.9rem;
      text-transform: uppercase;

      a {
        background: #35393c;
      }

      &.current a {
        background: #4d5257;
      }
    }
  }

  ul,
  ol {
    margin: 0 0 $paragraphSpacing;
  }

  li {
    margin-bottom: $paragraphSpacing * 0.6;
  }

  h1 + * {
    margin-top: 0 !important; // prevent margin top from the first element in the page
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerFont;
  text-rendering: optimizeLegibility;
  color: $mainTitlesTextColor;
  font-weight: 400;
  letter-spacing: -1px;
}

h1 {
  color: $pageTitleColor;
  line-height: 1;
  border-bottom: 4px solid #f0f2f4;
  padding: 0.8em 0 0.3em;
  font-size: 3rem;
  font-weight: 600;
}

h2,
h3,
h4 {
  margin-left: -0.05rem !important; // difference between fonts
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;

  &:hover .anchor {
    visibility: visible;
  }

  a {
    font-weight: inherit;
  }
}

h2 {
  font-size: 2rem;
  line-height: 110% !important;
  margin: 2em 0 1rem 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 130% !important;
  margin: 1.5em 0 1rem 0;
  font-weight: bold;
}

h4 {
  font-size: 1.3rem;
  line-height: 110% !important;
  margin: 1.5em 0 1rem 0;
  font-weight: bold;
}

h5 {
  font-size: 1.2rem;
  line-height: 110% !important;
  margin: 1.5em 0 1rem 0;
}

h6 {
  font-size: 1.1rem;
  line-height: 110% !important;
  margin: 1.5em 0 1rem 0;

  &:before {
    content: '› ';
  }
}

/* attachments shortcode */

section {
  &.attachments {
    margin: 2rem 0;
    position: relative;

    label {
      font-weight: 400;
      padding-left: 0.5em;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      margin: 0;
    }

    .attachments-files {
      padding: 15px;
      display: block;
      font-size: 1rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
      color: #666;
    }

    &.orange {
      label {
        color: #fff;
        background: #f0b37e;
      }

      .attachments-files {
        background: #fff2db;
      }
    }

    &.green {
      label {
        color: #fff;
        background: rgba(92, 184, 92, 0.8);
      }

      .attachments-files {
        background: #e6f9e6;
      }
    }

    &.blue {
      label {
        color: #fff;
        background: #6ab0de;
      }

      .attachments-files {
        background: #e7f2fa;
      }
    }

    &.grey {
      label {
        color: #fff;
        background: #505d65;
      }

      .attachments-files {
        background: #f4f4f4;
      }
    }
  }
}

/* Children shortcode */
.children {
  p {
    font-size: small;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  h2,
  h3 {
    margin-bottom: 0px;
    margin-top: 5px;
  }
}

.children-li p {
  font-size: small;
  font-style: italic;
}

.children-h2 p,
.children-h3 p {
  font-size: small;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

code,
kbd,
pre,
samp {
  font-family: $monospaceFont;
}

code {
  white-space: nowrap;
  color: #444;
  background: #1b1f230d;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 85%;
  margin: 0;

  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  a &,
  {
    background: transparent;
    font-size: inherit;
    padding: initial;
    color: inherit;
  }
}

pre {
  padding: 1rem;
  margin: 0;
  border: 0;
  border-radius: 2px;
  line-height: 1.15;


  code {
    display: block;
    color: #333;
    background: inherit;
    white-space: inherit;
    border: 0;
    padding: 0.5em; // same as in highlighter
    font-size: 14px;
    line-height: 1.45;
  }
}

div.highlight {
  margin: $paragraphSpacing * 1.5 0;
  background: $codeBlockBgColor;
  overflow-x: auto;
  position: relative; // needed for the copy code button
}

hr {
  border-bottom: 4px solid #f0f2f4;
}

.page-title {
  margin-top: -25px;
  padding: 25px;
  float: left;
  clear: both;
  background: #9c6fb6;
  color: #fff;
}

.tabs-wrapper pre {
  margin: 1rem 0;
  border: 0;
  padding: 0;
  background: inherit;
}

table {
  border: none;
  display: block;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 1rem;
  font-size: 0.9em;
}

th {
  background: #f7f7f7;
  padding: 0.5rem 0.8rem;
  font-size: 1.1em;

  &[align="center"] {
    text-align: center;
  }

  &[align="right"] {
    text-align: right;
  }
}

td {
  padding: 0.5rem 0.8rem;
  border-bottom: 1px solid #eaeaea;
}

.button {
  background: #9c6fb6;
  color: #fff;
  box-shadow: 0 3px 0 #00a5d4;

  &:hover {
    background: #00a5d4;
    box-shadow: 0 3px 0 #008db6;
    color: #fff;
  }

  &:active {
    box-shadow: 0 1px 0 #008db6;
  }
}

.button-secondary {
  background: #f8b450;
  color: #fff;
  box-shadow: 0 3px 0 #f7a733;

  &:hover {
    background: #f7a733;
    box-shadow: 0 3px 0 #f69b15;
    color: #fff;
  }

  &:active {
    box-shadow: 0 1px 0 #f69b15;
  }
}

.bullets {
  margin: 1.7rem 0;
  margin-left: -0.85rem;
  margin-right: -0.85rem;
  overflow: auto;
}

.bullet {
  float: left;
  padding: 0 0.85rem;
}

.two-column-bullet {
  width: 50%;
  @media only all and (max-width: 47.938em) {
    width: 100%;
  }
}

.three-column-bullet {
  width: 33.33333%;
  @media only all and (max-width: 47.938em) {
    width: 100%;
  }
}

.four-column-bullet {
  width: 25%;
  @media only all and (max-width: 47.938em) {
    width: 100%;
  }
}

.bullet-icon {
  float: left;
  background: #9c6fb6;
  padding: 0.875rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1.75rem;
  text-align: center;
}

.bullet-icon-1 {
  background: #9c6fb6;
}

.bullet-icon-2 {
  background: #00f3d8;
}

.bullet-icon-3 {
  background: #e6f300;
}

.bullet-content {
  margin-left: 4.55rem;
}

.tooltipped {
  position: relative;

  &:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 'Work Sans', 'Helvetica', 'Tahoma', 'Geneva',
      'Arial', sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  &:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    content: '';
    border: 5px solid transparent;
  }

  &:hover:before,
  &:hover:after,
  &:active:before,
  &:active:after,
  &:focus:before,
  &:focus:after {
    display: inline-block;
    text-decoration: none;
  }
}

.tooltipped-s:after,
.tooltipped-se:after,
.tooltipped-sw:after {
  top: 100%;
  right: 50%;
  margin-top: 5px;
}

.tooltipped-s:before,
.tooltipped-se:before,
.tooltipped-sw:before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}

.tooltipped-se:after {
  right: auto;
  left: 50%;
  margin-left: -15px;
}

.tooltipped-sw:after {
  margin-right: -15px;
}

.tooltipped-n:after,
.tooltipped-ne:after,
.tooltipped-nw:after {
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px;
}

.tooltipped-n:before,
.tooltipped-ne:before,
.tooltipped-nw:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.8);
}

.tooltipped-ne:after {
  right: auto;
  left: 50%;
  margin-left: -15px;
}

.tooltipped-nw:after {
  margin-right: -15px;
}

.tooltipped-s:after,
.tooltipped-n:after {
  transform: translateX(50%);
}

.tooltipped-w:after {
  right: 100%;
  bottom: 50%;
  margin-right: 5px;
  transform: translateY(50%);
}

.tooltipped-w:before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.8);
}

.tooltipped-e:after {
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  transform: translateY(50%);
}

.tooltipped-e:before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  border-right-color: rgba(0, 0, 0, 0.8);
}

.highlightable {
  padding: 1rem 0 1rem;
  overflow: auto;
  position: relative;
}

.hljs::selection,
.hljs span::selection {
  background: #b7b7b7;
}

.lightbox-active {
  #body {
    overflow: visible;

    .padding {
      overflow: visible;
    }
  }
}

#github-contrib i {
  vertical-align: middle;
}

.featherlight img {
  margin: 0 !important;
}

.lifecycle {
  #body-inner {
    ul {
      list-style: none;
      margin: 0;
      padding: 2rem 0 0;
      position: relative;
    }

    ol {
      margin: 1rem 0 1rem 0;
      padding: 2rem;
      position: relative;

      strong,
      label,
      th {
        text-decoration: underline;
      }

      li {
        margin-left: 1rem;
      }

      ol {
        margin-left: -1rem;
      }

      h3 {
        margin-top: 1rem !important;
        right: 2rem !important;
      }
    }

    h3[class*='level'] {
      font-size: 20px;
      position: absolute;
      margin: 0;
      padding: 4px 10px;
      right: 0;
      z-index: 1000;
      color: #fff;
      background: #1abc9c;
    }

    .level-1 + ol {
      background: #f6fefc;
      border: 4px solid #1abc9c;
      color: #16a085;

      h3 {
        background: #2ecc71;
      }
    }

    .level-2 + ol {
      background: #f7fdf9;
      border: 4px solid #2ecc71;
      color: #27ae60;

      h3 {
        background: #3498db;
      }
    }

    .level-3 + ol {
      background: #f3f9fd;
      border: 4px solid #3498db;
      color: #2980b9;

      h3 {
        background: #34495e;
      }
    }

    .level-4 + ol {
      background: #e4eaf0;
      border: 4px solid #34495e;
      color: #2c3e50;

      h3 {
        background: #34495e;
      }
    }
  }
}

#top-github-link {
  position: relative;
  z-index: 1;
  float: right;
  display: block;
}

@media only all and (max-width: 47.938em) {
  .sidebar-hidden {
    overflow: hidden;
    #sidebar {
      left: 0;
    }

    #body {
      margin-left: 230px;
      overflow: hidden;
    }
    #overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
      background: rgba(255, 255, 255, 0.5);
      cursor: pointer;
    }
  }
}

.copy-to-clipboard {
  background-image: url($imgPath+'clippy.svg');
  background-position: 50% 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width: 27px;
  height: 1.45rem;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: #5e5e5e;
  margin-left: -0.2rem;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  margin-bottom: 1px;
}

pre {
  .copy-to-clipboard {
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity ease-in 0.2s;
  }
  &:hover .copy-to-clipboard {
    opacity: 1;
    transition: opacity ease-in 0.5s;
  }
}

.parent-element {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#searchResults {
  text-align: left;
}

#body {
  a,
  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
    outline: 0;
  }

  a {
    line-height: 1.1;
    display: inline-block;

    &:after {
      display: block;
      content: '';
      height: 1px;
      width: 0%;
      background-color: #0082a7; /*#CE3B2F*/
      -webkit-transition: width 0.5s ease;
      -moz-transition: width 0.5s ease;
      -ms-transition: width 0.5s ease;
      transition: width 0.5s ease;
    }

    &:hover:after,
    &:focus:after {
      width: 100%;
    }
  }
}

#sidebar-toggle-span {
  border-right: thin solid #dad8d8 !important;
  padding-right: 0.5rem !important;
  margin-right: 1rem !important;
}

.btn {
  display: inline-block !important;
  padding: 6px 12px !important;
  margin-bottom: 0 !important;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 1.42857143 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  background-image: none !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
  -webkit-transition: all 0.15s !important;
  -moz-transition: all 0.15s !important;
  transition: all 0.15s !important;

  &:after {
    // remove underline effect inherited from a
    content: none !important;
  }

  &:focus {
    outline: none !important;
  }

  &:hover,
  &:focus {
    color: #2b2b2b;
    text-decoration: none;
  }
}

.btn-default {
  color: #333 !important;
  background-color: #fff !important;
  border-color: #ccc !important;

  &:hover,
  &:focus,
  &:active {
    color: #fff !important;
    background-color: #9e9e9e !important;
    border-color: #9e9e9e !important;
  }

  &:active {
    background-image: none !important;
  }
}

/* anchors */
.anchor {
  color: #00bdf3;
  font-size: 0.5em;
  cursor: pointer;
  visibility: hidden;
  margin-left: 0.5em;
  position: absolute;
  margin-top: 0.1em;
}

p {
  margin: 0 0 $paragraphSpacing 0;
}

figure img {
  box-shadow: 0 11px 56px 0 rgba(0, 0, 0, 0.4);
}

figcaption h4 {
  opacity: 0.85;
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 2.5rem;
  font-family: $baseFont;
  letter-spacing: normal;
  font-style: italic;

  &:before {
    content: 'Figure: ';
  }
}

.select-style {
  border: 0;
  width: 150px;
  border-radius: 0px;
  overflow: hidden;
  display: inline-flex;

  svg {
    fill: #ccc;
    width: 14px;
    height: 14px;
    pointer-events: none;
    margin: auto;

    &:hover {
      fill: #e6e6e6;
    }
  }

  select {
    padding: 0;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    margin: auto;
    margin-left: 0px;
    margin-right: -20px;

    &:focus {
      outline: none;
    }
  }

  :hover {
    cursor: pointer;
  }
}

// ordered list types

ol ol {
  list-style-type: lower-alpha;
  ol {
    list-style-type: lower-roman;
  }
}

// definition lists

dt {
  font-weight: bold;

  code {
    font-weight: normal;
    font-size: 90%;
  }
}

dd {
  margin-top: 5px;
  margin-bottom: 10px;

  // for some reason, the first paragraph in definitions is not wrapped by a <p>
  // so there's a margin missing between the first paragraph and one following
  > p:first-child {
    margin-top: 1rem;
  }
}
