/* notices */

@mixin notice-border($color) {
  // kept in case we change our mind later
  //border-left: 5px solid $color;
}

div.notices {
  margin: 2rem 0;
  position: relative;
  padding: 1rem 2rem;
  padding-left: 3.5rem;
  color: #555;
  font-size: 90%;
  border-radius: .2rem;

  @media (min-width: $tocBreakpoint) {
    margin: 2rem 2rem;
  }

  p {
    font-size: 1em;
    margin: {
      top: 0;
      bottom: 0;
    }
  }

  ul, ol {
    margin: {
      top: .5rem;
      bottom: .5rem;
    }

    li {
      margin-bottom: 0 !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  // code blocks
  pre {
    code {
      font-size: 90%;
    }

    &:last-child {
      margin-bottom: .8rem;
    }
  }

  // icon
  &:before {
    position: absolute;
    top: .55rem;
    font-family: FontAwesome;
    font-size: 1.5rem;
    content: '';
    left: 1.3rem;
  }

  &.info {
    @include notice-border(#f0b37e);
    background: #fff2db;

    &:before {
      color: #f5a132;
    }
  }

  &.warning {
    @include notice-border(rgba(217, 83, 79, 0.8));
    background: #fae2e2;
    color: #6d2622;

    &:before {
      content: '\F071';
      color: rgb(217, 83, 79);
    }
  }

  &.note {
    @include notice-border(#6ab0de);
    background: #e7f2fa;

    &:before {
      content: '\F05A';
      color: #4ea5de;
    }
  }

  &.tip {
    @include notice-border(rgba(92, 184, 92, 0.8));
    background: #e6f9e6;

    &:before {
      content: '\F0EB';
      color: rgb(92, 184, 92);
    }
  }
}
