{{ partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fa fa-bars"></i> navigation</a>
</span>

<style type="text/css">
	#home .container {
		display: flex;
		justify-content: center;
		width: auto;
	}

	#home .container > div {
		margin: 0 20px;
		width: 30%;
	}

	#home .btn {
		font-size: 20px !important;
		color: #fff;
		padding: 20px 30px !important;
	}

	#home .btn:hover {
		color: #fff !important;
	}

	.dev .btn {
		background: #df0067;
	}

	.user .btn {
		background: #251b5b;
	}

	#body-inner {
		margin-right: 0;
	}

	h1 {
		text-align: center;
	}

	@media only all and (max-width: 30em) {
		h1 {
			overflow-wrap: break-word;
			font-size: 2.8rem;
			text-align: left;
		}

		#home .container {
			display: block;
			text-align: center;
		}

		#home .container > div {
			width: 100%;
			margin: 0;
			padding: 0 0 20px;
		}
	}

</style>

<div id="home">
	{{if .Site.Home.Content }}
	{{.Site.Home.Content}}
	{{else}}
		No content
	{{ end }}

	<div class="container">
		<div class="dev">
			<h2>I'm a developer</h2>
			<p>Show me the good stuff!</p>
			<a class="btn" href="{{ .Site.Params.versions.current }}/basics/introduction/">Get started</a>
		</div>
		<div class="user">
			<h2>I'm a user</h2>
			<p>Head over to</p>
			<a class="btn" href="https://doc.prestashop.com">User Documentation</a>
		</div>
	</div>
</div>

{{ partial "footer.html" . }}
